@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

:root {
  --roboto: "Roboto", sans-serif;
  --openSans: "Open Sans", sans-serif;

  --poppins: "Poppins", sans-serif;
  --background: #ffffff;
  --border: #c8bcd6;
  /* --text: #2b2c31; */
  --text: #757575;
  --white: #fff;
  --purple: #bc85d9;
  --red: #ed7370;
  --red-dark: #bd5957;
  --pink: #e587b6;
  --blue-dark: #5e72ad;
  --blue: #85a2f7;
  --blue-transparent: #85a1f71a;
  --blue-light: #85a1f789;
  --gray: #e0e0e0;
  --gray-dark: #888585;
  --nav-height: 4rem;
  --line-height: 1.35;
  --letter-spacing: 0.01em;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --borderRadius: 0.3rem;
  --inputBackground: #f0f4f8;
  --green: #5bbba9;
  --green-dark: #2e6056;
  --green-transparent: #2e605648;
}

.Toastify__toast {
  /* text-transform: uppercase; */
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--green);
  border-radius: 50%;
  border-top-color: var(--gray);
  animation: spinner 2s linear infinite;
}
.loading-center {
  margin: 0 auto;
}
